# Ignore dbt noise in language stats
**/target/**                 linguist-vendored
**/logs/**                   linguist-generated
**/dbt_packages/**           linguist-vendored
**/dbt_internal_packages/**  linguist-vendored
README.md                    linguist-documentation

# Count these as languages
*.sql   linguist-language=SQL
*.yml   linguist-language=YAML
*.yaml  linguist-language=YAML
